// src/styles/event.scss
@use 'variables'; // Importando as variáveis

.event {
    background-color: variables.$cor-secundaria;  // Acessando a variável com o namespace 'variables'
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }
}
