.hero {
    background-color: $cor-principal;
    color: white;
    text-align: center;
    padding: 5rem 1rem;
    border-radius: 0 0 15px 15px;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.5rem;
    }

    span {
        font-weight: bold;
    }
}
